header {
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;;
    height: 50px;
    box-sizing: border-box;
    width: 100vw

}

a {
    height: 80%;
}

.logo {
    height: 100%; 
    border-radius: 50%;
}

.catchphrase {
    font-weight:bolder;
    font-size: larger;
    margin: 0;
    color: white;
}

.menulinks {
 /* -webkit-text-stroke: 1px white; */
 text-decoration:none;
 text-align: center;
 color:white;
}

.menulinks:hover {
    background-color: darksalmon;
}

.menu-wrapper {
    position: relative;
    
}

.profileicon {
    height: 40px;
}

.loginmenu {
    text-align: center;
    position: absolute;
    top: 46px;
    right: -10px;
    background-color: white;
    border: black 1px solid;
    border-radius: 5%;

}

.isloggedinmenu {
    text-align: center;
    position: absolute;
    top: 46px;
    right: -10px;
    background-color: white;
    border: black 1px solid;
    border-radius: 5%;
    color:#4d74c7;
    display: flex;
    flex-direction: column;
    width: 150px;
}

.isloggedinmenu a:hover {
    background-color: aqua;
}

.isloggedinmenu p:hover {
    background-color: aqua;
}

#registerlink {
    display: block; 
    padding: 5px 0px;
    text-decoration: none; 
    color: black;
    text-align: center;
}

#registerlink:hover {
    background-color: grey;
}

/* #navigationlinks {
    display: flex;
    justify-content: flex-end
} */

.splashscreen-wrapper {
    display: flex;
    flex-direction: column;
    background-image: url(../public/splashscreen.jpeg);
    background-size: cover;
    height: calc(100vh - 78px);
    justify-content: center;
    align-items: center;
    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0px;
}

.registrationpage {
    display: flex;
    height: calc(100vh - 50px);
}

.signup {
    background-image: url(../public/splashscreen_2.jpeg);
    background-size: cover;
    width: 50vw;
    height: calc(100vh - 50px);
    color: white;
    font-family: 'Alumni Sans', sans-serif;
    text-align: center;
    font-weight: bolder;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    text-shadow: 3px 3px 6px #4d74c7;
}

.registerform {
    width: 50vw;
    background-color: #4d74c7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerform input {
    width: 20vw;
}

.registerform button {
    width: 20vw;
}

.recipesform {
    text-align: center;
    font-size: larger;
    font-weight:lighter;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.reciperesults {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mainpantrydiv {
    min-height: calc(100vh - 50px);
}