body {
    height: 100vh;
    margin: 0;
    position: relative;
}

header {
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    height: 80px;  
    max-height: 90px;
    box-sizing: border-box;
    width: 100vw

}

a {
    height: 60%;
}

.logo {
    height: 100%; 
    border-radius: 50%;
    /* padding-left: .5em; */
}

.catchphrase {
    font-weight:bolder;
    font-size: 25px;
    margin: 0;
    color: white;
    font-family:'Alumni Sans';
    padding-top: 8px;
    padding-bottom: 5px;
}

.menulinks {
 /* -webkit-text-stroke: 1px white; */
    text-decoration:none;
    text-align: center;
    color:white;
    margin: 0px 15px; 
    padding-bottom: 5px;
    padding-top: 3px;
    padding-left: 2px;
    padding-right: 2px;
    font-family: 'Alumni Sans';
    font-size: 20px;
    transition: all .5s ease;
    line-height: 1;
    outline: none;
    border-radius: 4px;
}

.menulinks:hover {
    /* background-color: darksalmon; */
    color: #001F3F;
    background-color: #fff;
}

.menu-wrapper {
    position: relative;
    
}

.profileicon {
    height: 40px;
    padding-right: 1em;
    cursor: pointer;
}

.loginmenu {
    text-align: center;
    position: absolute;
    top: 61.5px;
    right: -10px;
    background-color: white;
    border: black 1px solid;
    border-radius: 5%;
    padding: 20px;
    z-index: 1;
    font-family:'Alumni Sans';
    line-height: 2;
}

.loginmenu button {
    min-width: 50px;
    padding: 5px 2px;
    margin: 0px 10px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 10px;
    color: black;
    text-shadow: 1px 1px 2px white;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Alumni Sans';
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    box-shadow: -7px -7px 20px 0 rgba(223, 220, 220, 0.7),
    7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.loginmenu button:hover {
    box-shadow: inset -7px -7px 20px 0 rgba(223, 220, 220, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.isloggedinmenu {
    /* text-align: center;
    position: absolute;
    top: 46px;
    right: -10px;
    background-color: white;
    border: black 1px solid;
    border-radius: 5%;
    color:#4d74c7;*/
    display: flex;
    flex-direction: column;
    width: 150px; 
    text-align: center;
    position: absolute;
    top: 61.5px;
    right: -10px;
    background-color: white;
    border: black 1px solid;
    border-radius: 5%;
    padding: 20px;
    z-index: 1;
    font-family:'Alumni Sans';
    line-height: 2;
}

.isloggedinmenu a:hover {
    /* background-color: green; */
    border-radius: 10px;
    text-shadow: 1px 1px 2px grey;
}

.isloggedinmenu button {
    min-width: 50px;
    padding: 5px 2px;
    margin: 0px 10px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 10px;
    color: black;
    text-shadow: 1px 1px 2px white;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Alumni Sans';
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    box-shadow: -7px -7px 20px 0 rgba(223, 220, 220, 0.7),
    7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.isloggedinmenu button:hover {
    box-shadow: inset -7px -7px 20px 0 rgba(223, 220, 220, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

/* .isloggedinmenu p:hover {
    background-color: aqua;
} */

#registerlink {
    /* display: block; 
    padding: 5px 0px;
    text-decoration: none; 
    color: black;
    text-align: center; */
    text-decoration:none;
    text-align: center;
    color:black;
    margin: 0px 15px; 
    padding: 5px 0px;
    /* padding-bottom: 5px;
    padding-top: 3px;
    padding-left: 2px;
    padding-right: 2px; */
    font-family: 'Alumni Sans';
    /* font-size: 20px; */
    transition: all .5s ease;
    line-height: 1;
    outline: none;
    border-radius: 4px;
}

#registerlink:hover {
    /* background-color: grey; */
    color: #001F3F;
    background-color: rgb(199, 199, 199);
}

.splashscreen-wrapper {
    display: flex;
    flex-direction: column;
    background-image: url(../public/thermopro-potroast-splashscreen.jpg);
    background-size: cover;
    height: calc(100vh - 78px);
    justify-content: center;
    align-items: center;
    color: white;
    min-height: calc(100vh - 50px);
}

.homepageform {
    /* backdrop-filter: blur(3px);
    padding: 5rem;
    border-radius: 5%; */
}

.homepagetext {
    text-align: center;
    font-weight: bolder;
    font-family: 'Alumni Sans';
    font-size: 40px;
    text-shadow: 1px 1px 2px black;
    letter-spacing: 2px;
    backdrop-filter: blur(3px);
    padding: .5rem;
    border-radius: 10%;
}

.searchBtn {
    min-width: 50px;
    padding: 13px 10px;
    margin: 0px 10px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 16px;
    font-weight:bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: -7px -7px 20px 0 rgba(155, 63, 63, 0.7),
    7px 7px 20px 0 rgba(0, 0, 0, 0.2);
    /* transition: all .5s ease;
    color: #fff;
    border: 3px solid white;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px; */
}

.searchBtn:hover {
    box-shadow: inset -7px -7px 20px 0 rgba(155, 63, 63, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
    /* color: #001F3F;
    background-color: #fff; */
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0px;
    width: 100vw;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Alumni Sans';
    font-size: 25px;
}

.registrationpage {
    display: flex;
    height: calc(100vh - 50px);
    background-image: url(../public/katie-smith-veg-splashscreen.jpg);
    background-size: cover;
    font-family: 'Alumni Sans'
}

.signup {
    /* background-image: url(../public/katie-smith-veg-splashscreen.jpg); */
    background-size: cover;
    width: 50vw;
    height: calc(100vh - 50px);
    color: white;
    font-family: 'Alumni Sans', sans-serif;
    text-align: center;
    font-weight: bolder;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    text-shadow: 3px 3px 4px black;
    letter-spacing: 6px;
    line-height: 3.5;
}

.registerform {
    width: 45vw;
    /* background-color: transparent; */
    backdrop-filter: blur(2px);
    margin-top: 50px;
    line-height: 2.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerform h1 {
    font-size: 45px;
    text-shadow: 1px 1px 2px white;
    letter-spacing: 2px;
    
}

.registerform label {
    /* display: flex;
    justify-content: flex-start; */
    width: 20vw; 
    text-align: left;
}

.registerform input {
    width: 20vw;
    border-radius: 10px;
}

.registerform button {
    width: 20vw;
    min-width: 50px;
    padding: 5px 2px;
    margin: 0px 10px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 10px;
    color: black;
    text-shadow: 1px 1px 2px white;
    font-size: 9px;
    font-weight: normal;
    font-family: 'Alumni Sans';
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    box-shadow: -7px -7px 20px 0 rgba(223, 220, 220, 0.7),
    7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.registerform button:hover {
    box-shadow: inset -7px -7px 20px 0 rgba(223, 220, 220, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.mainrecipessearchdiv {
    min-height: calc(100vh - 50px);
}

.recipesform {
    text-align: center;
    font-size: larger;
    font-weight:lighter;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.reciperesults {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: center; */
    flex: 00 300px;
    max-width: 100vw;
    text-align: center;
    margin-top: 15px;
    /* padding: 30px 0px; */
}

.favouritebtn {
    margin-top: 20px;
}

.mainpantrydiv {
    min-height: calc(100vh - 50px);
    font-family: 'Alumni Sans'
}

li {
    list-style-type: none;
    padding: 2px 15px;
    line-height: 2;
    margin-bottom: 2em;
}

.mainpantrydiv h1 {
    text-align: center;
    font-size: 50px;
    /* margin-bottom: 15px; */
    letter-spacing: .2em;
}

.mainpantrydiv h2 {
    text-align: center;
}

.mainpantrydiv form {
    text-align: center;
    line-height: 5em;
}

.mainpantrydiv form input {
    width:160px; 
    margin: 5px;
    padding: 5px 10px;
    border-radius: 10px;
}

.mainpantrydiv ul {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    max-width: 85vw;
    margin-left: 40px;
    margin-right: 40px;
    max-height: 85vh;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 4%;
}

.addBtn {
    min-width: 50px;
    padding: 2px 10px;
    margin: 0px 10px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 10px;
    color: black;
    text-shadow: 1px 1px 2px white;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Alumni Sans';
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    box-shadow: -7px -7px 20px 0 rgba(223, 220, 220, 0.7),
    7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.addBtn:hover {
    box-shadow: inset -7px -7px 20px 0 rgba(223, 220, 220, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.mainpantrydiv img {
    max-height: 0.7em;
}

.mainpantrydiv button {
    margin: 2px 5px;
    font-family: 'Alumni Sans'
}

.mainpantrydiv button:hover {
    font-family: 'Alumni Sans'
}

.yourrecipesmaindiv {
    text-align: center;
    min-height: calc(100vh - 50px);
    font-family: 'Alumni Sans';
}

.yourrecipesmaindiv h1 {
    letter-spacing: .2em;
    font-size: 50px;
}

.yourrecipesmaindiv img {
    max-height: 1em;
}

.yourrecipesmaindiv ul {
    display: flex;
    max-width: 90vw;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 4%;
}

.yourrecipesmaindiv li {
    font-size: 20px;
}

.yourrecipesmaindiv button {
    min-width: 50px;
    padding: 5px 10px;
    margin: 0px 10px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 10px;
    color: black;
    text-shadow: 1px 1px 2px white;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Alumni Sans';
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    box-shadow: -7px -7px 20px 0 rgba(223, 220, 220, 0.7),
    7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.yourrecipesmaindiv button:hover {
    box-shadow: inset -7px -7px 20px 0 rgba(223, 220, 220, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.maineditprofilediv {
    min-height: calc(100vh - 50px);
    font-family:'Alumni Sans';
    display: flex;
}

.epbackgroundimg {
    background-image: url(../public/spices.jpg);
    background-size: cover;
    width: 50vw;
    height: 100vh;
}

.editprofileform {
    text-align: center;
    width: 50vw;
}

.epinfosplit {
    display: flex;
    /* flex-direction: column; */
}

.epuser-icon {
    margin-top: 15px;
    padding-top:1em;
}

.editprofileform p {
    font-size: 25px;
}

.epusernamediv {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eppwdiv {
    width: 25vw;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.eplabel {
    display: flex;
    /* margin-left: 120px; */
    margin-top: 50px;
    font-size: 20px;
    /* text-align: justify; */
}

.epinput {
    display: flex;
    margin: 15px 10px;
    justify-content: center;
    width: 170px;
    /* left: 208px; */
    /* margin: 5px; */
    padding: 5px 10px;
    border-radius: 10px;
}

.epinfoBtns {
    padding: 5px 8px;
    margin: 15px 10px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 10px;
    color: black;
    text-shadow: 1px 1px 2px white;
    font-size: 16px;
    font-weight: normal;
    /* text-transform: uppercase; */
    /* letter-spacing: 1px; */
    box-shadow: -7px -7px 20px 0 rgba(223, 220, 220, 0.7),
    7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.epinfoBtns:hover {
    box-shadow: inset -7px -7px 20px 0 rgba(223, 220, 220, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.deleteBtn {
    max-width: fit-content;
    margin-top: 100px;
    left: 240px;
    padding: 5px 8px;
    /* margin: 15px 10px; */
    background-color: transparent;
    border: 3px solid white;
    border-radius: 10px;
    color: black;
    text-shadow: 1px 1px 2px white;
    font-size: 16px;
    font-weight: normal;
    /* text-transform: uppercase; */
    /* letter-spacing: 2px; */
    box-shadow: -7px -7px 20px 0 rgba(223, 220, 220, 0.7),
    7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.deleteBtn:hover {
    box-shadow: inset -7px -7px 20px 0 rgba(223, 220, 220, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.mainprofilediv {
    min-height: calc(100vh - 50px);
    font-family: 'Alumni Sans';
}

.mainprofilediv h1 {
text-align: center;
/* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
/* font-weight: bold; */
font-size: 50px;
letter-spacing: .2em;
}

.lrprofilediv {
    display: flex;
    
}

.profileleft {
    width: 320px;
}

.profileleft img {
    border-radius: 20%;
    margin: 30px 20px 20px 20px;
    height: 300px;
    width: 300px;
}

.profileleft a {
    text-decoration: none;
}

.profileleft p {
    font-size: 20px;
    text-decoration:none;
    text-align: center;
    margin-top: 5px;
    letter-spacing: 2;
    margin-bottom:15px;
    margin-top: -20px;
}

.profileright {
    text-align: center;
    width: calc(100vw - 320px)
    
}

.profilefavrecipeul {
    text-align: center;
    font-size: medium;
    padding: 10px 0px;
    font-weight: lighter;
    border: 1px solid black;
    margin: auto;
    border-radius: 4%;
    border-collapse: collapse;
    margin:0px 200px
}

.profilefavrecipeul li {
    list-style-type: none;
    padding: 2px 15px;
    line-height: 2;
    margin-bottom: 2em;
    font-size: 20px;
    text-overflow: wrap;
    text-decoration: underline;
}

.profilefavrecipeul li a {
    text-decoration: none;
}

.profileright h2 {
    text-align: center;
    font-size:30px;
    font-weight: normal;
    text-decoration: underline;
    letter-spacing: .5em;
}